
@import './scss/main';

@import '~bootstrap/scss/bootstrap.scss';

.card-columns {
 margin-top: 1.5rem;
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }

  @include media-breakpoint-only(md) {
    column-count: 2;
  }

}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap');

body{
  font-family: 'Open Sans', sans-serif;
}

