@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800&display=swap');
@import './variables';
@import './buttons';

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
}
